# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env
fgpt_env/
node_modules/

# Database file
*.db
*.sqlite3

# Streamlit temp files
.streamlit/

# IDE files
.vscode/
.idea/

